boto3==1.14.17
botocore==1.17.17
certifi==2020.6.20
chardet==3.0.4
click==6.7
docutils==0.15.2
easydict==1.9
elasticsearch==7.8.0
elasticsearch-curator==5.8.1
idna==2.10
jmespath==0.10.0
python-dateutil==2.8.1
PyYAML==3.13
requests==2.24.0
requests-aws4auth==1.0
s3transfer==0.3.3
six==1.15.0
urllib3==1.24.3
voluptuous==0.11.7
